.bg {
    width: 85%;
    margin: 2rem 7.5% 5rem 7.5%;
}

.title {
    color: #000;
    font-family: Inter;
    font-style: normal;
    text-align: start;
    font-size: 1.375rem;
    margin-bottom: 2rem;
}

.wrapper {
    max-width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.TableHeader {
    width: 20% !important;
    height: 4rem !important;
    font-weight: 700 !important;
    font-size: 1.125rem !important;
}

.StickyHeader {
    composes: TableHeader;
    position: sticky;
    left: 0;
    background-color: white;
    border-right: 1px solid lightgray;
    box-shadow: 1px 1px 2px lightgray;
}

.TableCell {
    height: 4rem !important;
    font-size: 0.9735rem !important;
}

.StickyCell {
    composes: TableCell;
    position: sticky;
    left: 0;
    background-color: white;
    border-right: 1px solid lightgray;
    box-shadow: 1px 1px 2px lightgray;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .title-individual {
        font-size: 1.125rem;
    }

    .title-snapshot {
        font-size: 1.375rem;
    }

    .TableHeader {
        font-size: 1rem !important;
        height: 2rem !important;
    }

    .TableCell {
        font-size: 0.875rem !important;
        height: 3rem !important;
    }

    .btn {
        justify-content: flex-start;
    }

}