.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.text {
    color: #000;
    font-style: normal;
}

.field {
    composes: text;
    text-align: start;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    padding-top: 0.75rem;
    padding-bottom: 1.75rem;
}

.data {
    composes: text;
    border: 1px solid #000;
    width: 93%;
    min-height: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.75rem 2% 0.75rem 3%;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 0.9375rem;
    font-weight: 400;
}

.teamdata {
    composes: text;
    border: 1px solid #000;
    width: 93%;
    min-height: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.4rem 2% 0 3%;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 0.9375rem;
    font-weight: 400;
}

.team {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pi {
    composes: team;
    height: 100%;
    align-items: center;
}

.member {
    composes: team;
    margin-bottom: 1rem;
    align-items: flex-start;
}

.courses {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    min-height: 5rem;
    max-height: 10rem;
}

.course {
    margin-bottom: 1rem;
    margin-right: 3%;
}

.reach {
    margin-top: 1.5rem
}