.bg {
    width: 84rem;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 5rem;
}

.title {
    width: 100%;
    color: #000;
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
}

.selectedProjects {
    width: 100%;
    color: #000;
    margin-top: 0.75rem;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.filters {
    width: 60%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faculty {
    width: 35%;
    color: #000;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
}

.slider {
    width: 65%;
    margin-left: 1rem;
    color: #000;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
}

.slider p {
    margin-bottom: 2.125rem;
}