.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.field {
    text-align: start;
    width: 15rem;
    height: 1.5rem;
    color: #000;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
}

.data {
    border: 1px solid #000;
    width: 70rem;
    padding-left: 3rem;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    margin: -1px;
    color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
}

.teamMembers {
    composes: data;
}

.member {
    width: 40rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.name {
    width: 10rem;
    margin-right: 5rem;
}

.job {
    width: 25rem;
}

.studentReach {
    composes: data;
}

.courses {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: 15rem;
}

.course {
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.reach {
    margin-top: 1.5rem
}