.hide {
    visibility: hidden;
}

.hide td {
    height: 0.1rem;
    color: transparent;
    border: none;
}


td {
    padding-left: 0.125%;
    padding-right: 0.125%;
    height: 5.5rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

@media screen and (max-width: 576px) {

    td {
        font-size: 0.875rem;
        height: 7rem;
    }
}