
.numchart {
    width: 60%;
    min-height: 20rem;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chart {
    width: 60%;
    min-height: 20rem;
}

.space {
    width: 5%;
}

.description {
    width: 25%;
    color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
}

.warning {
    color: red;
    font-style: italic;
}


/* FundingChart.jsx */
.funding-tooltip {
    background-color: rgba(255, 255, 255);
    padding: 0.5rem;
    border: 0.5px solid rgba(200, 200, 200, 1);
    border-radius: 5px;
}

.funding-tooltip-content {
    width: 100%;
    border-top: 1px solid rgba(200, 200, 200, 1);
    padding-top: 0.4rem;
}

/* TeamMemberChart (FacultyEngagementChart) */
.fe {
    width: 90%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}

.fe-box {
    width: 45%;
    min-height: 20rem;
    padding: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0.5px gray;
}

.fe-circle {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #081252;
}

.fe-circle p {
    color: #119FD5;
    font-size: 2.5rem;
}

.fe-circle2 {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: darkorange;
}

.fe-circle2 p {
    color: #081252;
    font-size: 2.5rem;
}

.fe-title {
    margin: 1.5rem 0 1.5rem 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #081252;
}

.fe-category {
    margin: 0.125rem 0 0.125rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Success Rate Chart */
.sr {
    width: 95%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sr-pie {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sr-bar {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sr-title {
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.sr-info {
    margin-bottom: 0;
    font-size: 1rem;
}

/* Student Reach Chart */
.reach-annotation {
    margin-top: 2rem;
    font-size: 0.75rem;
    font-weight: 300;
    font-style: italic;
}

@media screen and (max-width: 576px) {
    .chart {
        width: 100%;
        margin-bottom: 2rem;
    }

    .space {
        display: none;
    }

    .description {
        width: 100%;
    }

    .funding-tooltip {
        background-color: rgba(75, 205, 216, 0.5);
    }

    .funding-tooltip p {
        color: #081252;
        margin: 0.25rem;
        font-style: italic;
        font-weight: 700;
    }
}




