.chart {
    width: 60%;
    min-height: 30rem;
}

.space {
    width: 5%;
}

.description {
    width: 25%;
    color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
}

.funding-tooltip {
    background-color: rgba(255, 255, 255);
    padding: 0.5rem;
    border: 0.5px solid rgba(200, 200, 200, 1);
    border-radius: 5px;
}

.funding-tooltip-content {
    width: 100%;
    border-top: 1px solid rgba(200, 200, 200, 1);
    padding-top: 0.4rem;
}

.warning {
    color: red;
    font-style: italic;
}


@media screen and (max-width: 576px) {
    .chart {
        width: 100%;
        margin-bottom: 2rem;
    }

    .space {
        display: none;
    }

    .description {
        width: 100%;
    }

    .funding-tooltip {
        background-color: rgba(75, 205, 216, 0.5);
    }

    .funding-tooltip p {
        color: #081252;
        margin: 0.25rem;
        font-style: italic;
        font-weight: 700;
    }
}