b {
    color: #002145;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.chart-annotation {
    margin-top: -20px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 0.91rem;
    font-weight: 300;
    font-style: italic;
    color: #002145;
}

.hidden {
    height: 0.5px;
    position: absolute;
    color: rgba(0, 0, 0, 0);
}

.filter-hidden {
    width: 20px;
    height: 100%
}

.fe-chart {
    width: 100%;
    min-height: 20rem;
    height: 100%;
}

.chart {
    width: 80%;
    min-height: 20rem;
    height: 100%;
    margin-left: -2rem;
    align-items: center;
}

.space {
    width: 5%;
}

.description {
    width: 25%;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
}

.warning {
    color: red;
    font-style: italic;
}

/* funding display data box  */
.container {
    display: flex;

}

.datachart {
    flex: 1;
    margin-right: 20px;
}

.dataBox {
    border: none;
    padding: 5px;
    margin-top: 50px;
    border-radius: 10px;
    padding-bottom: 5px;
}

.valueColumn {
    display: flex;
    flex-direction: row;
    margin-left: 8px;
}

.valueSmall, .valueLarge {
    flex-basis: 35%;
}

.valueSmall {
    /* color: #FB812D; */
    height: 0.5px;
    position: absolute;
    color: rgba(0, 0, 0, 0);
}

.valueLarge {
    /* color: #2F5D7C; */
    height: 0.5px;
    position: absolute;
    color: rgba(0, 0, 0, 0);
}

.valueFaculty {
    flex-basis: 25%;
    /* color: black; */
    /* height: 0.5px;
    position: absolute; */
    color: rgba(0, 0, 0, 0);
}

/* num grants and projects chart */
.num-box {
    width: 60%;
    min-height: 8rem;
    padding: 2% 0% 2% 0%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    justify-content: center;
}

.circle {
    justify-content: center;
    align-items: center;
    display: inline-block;
    text-align: center;
}

.np-circle {
    width: 6rem;
    height: 6rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #002145;
}

.np-circle p {
    color: #97d4e9;
    font-size: 2.5rem;
    margin-bottom: 50%;
    line-height: 1rem;
}

.np-circle2 {
    width: 6rem;
    height: 6rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: darkorange;
}

.np-circle2 p {
    color: #002145;
    font-size: 2.5rem;
    line-height: 1rem;
}

.section {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-items: stretch;
    align-items: stretch;
    column-gap: 50px;
    row-gap: 20px;
    justify-content: center;
    margin-left: 80px;
    margin-right: 40%;

}

.circletitle {
    margin: 1.5rem 0 1.5rem 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #002145;
    text-align: center;
    display: block;
}

/* FundingChart.jsx */
.funding-tooltip {
    background-color: rgba(255, 255, 255);
    padding: 0.5rem;
    border: 0.5px solid rgba(200, 200, 200, 1);
    border-radius: 5px;
}

.funding-tooltip-content {
    width: 100%;
    border-top: 1px solid rgba(200, 200, 200, 1);
    padding-top: 0.4rem;
}

/* Faculty Engagement Chart */
.fe {
    width: 100%;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    display: flex;
    justify-content: space-between;
}

.fe-box {
    width: 45%;
    min-height: 20rem;
    padding: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0.5px gray;
}

.fe-title {
    margin: 1.5rem 0 1.5rem 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #002145;
    text-align: center;
}

.fe-category {
    margin: 0.125rem 0 0.125rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Success Rate Chart */
.sr {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px; 
    padding-bottom: 45px;

}

.sr-pie {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.sr-bar {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sr-info {
    margin-bottom: 0;
    font-size: 1rem;
}

.sr-title {
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.sr-description {
    width: 25%;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
}

@media (max-width: 768px) {
    .sr-pie {
        width: 50%;
    }

    .sr-title {
        font-size: 1.2rem;
    }

    .sr-description {
        width: 100%;
        padding-top: 80px;
    }
}



.piechart {
    min-height: 5rem;
    height: 100%;
    display: flex;
}

.pie-sr {
    width: 95%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%
}

/* Student Reach Chart */
.reach-annotation {
    margin-top: 2rem;
    font-size: 0.875rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .chart {
        width: 100%;
        margin-bottom: 2rem;
    }

    .space {
        display: none;
    }

    .description {
        width: 100%;
    }

    .funding-tooltip {
        background-color: rgba(75, 205, 216, 0.5);
    }

    .funding-tooltip p {
        color: #002145;
        margin: 0.25rem;
        font-style: italic;
        font-weight: 700;
    }
}




