.bg {
  min-height: 100vh;
  background-color: #e1f3f9;
  padding-bottom: 3rem;
}

.app-header {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.text {
  color: #000;
  font-style: normal;
  line-height: normal;
}

.container {
  composes: box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #002145;
  composes: text;
  text-align: start;
  font-size: 2rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.open-search {
  composes: box;
  display: none;
}

.open-search button {
  height: 100%;
  text-align: start;
  color: #002145;
  font-size: 0.625rem;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
}

.open-search button:active {
  background-color: rgba(237, 237, 237, 0.6);
}

.filters-div {
  composes: box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.project-filters {
  width: 80%;
}

.filter-text {
  font-size: 1.25rem;
}

.filters {
  width: 100%;
  margin-top: 0.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.slider {
  width: 60%;
  display: flex;
  align-items: flex-start;
  margin-top: 3rem;
  font-size: 1.125rem;
  font-weight: 400;
}

.lower-header-div {
  composes: box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.applied-filters {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.filters-box {
  width: 80%;
  min-height: 10rem;
  background-color: white;
  position: relative;
  border: solid lightgray;
  border-radius: 0.5rem;
}

.clear-filters-div p {
  font-size: 0.9375rem;
  text-align: start;
}

.clear-filters-div {
  width: 25%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.generate-summary {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.generate-summary-txt {
  font-size: 1rem;
  text-align: right;
  font-weight: 600;
  /* font-style: italic; */
  margin-bottom: 0.25rem;
  color: #002145;
}

.generate-summary-btn {
  height: 3rem;
  background-color: #002145;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  /* font-style: italic; */
  border-radius: 0.5rem;
}

/* Mobile Version UI */
/*
TODO: animation when search filters are shown/hidden
*/
@media screen and (max-width: 576px) {

  .app-header {
    margin-bottom: 2.5rem;
  }

  .container {
    margin-bottom: 1rem
  }

  .title {
    font-size: 1.25rem;
  }

  .open-search {
    display: block;
  }

  .project-filters {
    width: 100%;
  }

  .filter-text {
    font-size: 1rem;
  }

  .filters {
    flex-direction: column;
    align-items: flex-start;
  }

  .lower-header-div {
    display: block;
  }

  .applied-filters {
    width: 100%;
  }

  .filters-box {
    width: 100%;
  }

  .clear-filters-div {
    width: 25%;
  }

  .clear-filters-div p {
    font-size: 0.75rem;
  }

  .generate-summary {
    margin-top: 1.5rem;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }

  .generate-summary-txt {
    width: 70%;
  }

  .generate-summary-btn {
    height: 2.5rem;
  }

  .slider {
    width: 100%;
  }
}